.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 32px;
    margin-left: 32px;
    width: 704px;
}

.wrapper h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 18px;
}

.container p {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 7px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
}