.wrapper {
    max-width: 1066px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media only screen and (max-width: 800px) { 
    .wrapper{
        justify-content: center ;
    }
}