.container select {
    background-color: #FFB800;
    height: 52px;
    font-weight: 600;
    border-radius: 8px;
    border: 4px solid #000;
    background: #FFB800;
    box-shadow: 2px 4px 0px 0px #000;
    height: 72px;
    color: #252B42;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 21px;
    outline: none;
    width: 100%;
    max-width: 100%;
}