.container {
    width: 704px;
    height: 562px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #000000 ;
    box-shadow: 2px 4px 0px 0px #000000;
    background-color: #fff;
    border-radius: 8px;
}

.container img {
    width: 551px;
    height: 472px;
}