@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inconsolata;
}

body {
  background: linear-gradient(0deg, rgba(255, 184, 0, 0.20) 0%, rgba(255, 184, 0, 0.20) 100%), #FFF;

}