.default button {
    background-color: #FFB800;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 0px 0px #000000;
    padding: 19.5px 21px  ;
    cursor: pointer;
    flex-wrap: nowrap;
    white-space: nowrap;
}


.default button {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

.inline button {
    background-color: #FFB800;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 0px 0px #000000;
    cursor: pointer;
    height: 74px;
    padding: 16px 106px;
}

.inline button {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    
}

.full button {
    background-color: #FFB800;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 0px 0px #000000;
    cursor: pointer;
    padding: 0;
    padding: 2px;
}

.streach  button {
    background-color: #FFB800;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 0px 0px #000000;
    cursor: pointer;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    max-width: 704px ;
    width: 100%;
    padding: 16px 0;
}
