.default button {
    background-color: #FFB800;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 0px 0px #000000;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 28px;
    padding-left: 28px;
    cursor: pointer;
}


.default button {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

.inline button {
    background-color: #FFB800;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 0px 0px #000000;
    cursor: pointer;
    max-height: 74px;
    padding-left: 106px;
    padding-right: 106px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.inline button {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}

.full button {
    background-color: #FFB800;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 0px 0px #000000;
    cursor: pointer;
    padding: 0;
    padding: 2px;
}

.streach  button {
    background-color: #FFB800;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 0px 0px #000000;
    cursor: pointer;
    padding: 16px 287px;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

