.container {
    width: 360px;
    height: 545px;
    border-radius: 8px;
    border: 4px solid #000;
    background: #FFF1CC;
    box-shadow: 4px 4px 0px 0px #000;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.container h4 {
    color: #000;
    font-size: 28px;
    font-weight: 900;
}

.categoryContainer p {
    color: #000;
    font-size: 24px;
    font-weight: 600;
}

.priceContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.priceContainer p {
    color: #000;
    font-size: 24px;
    font-weight: 600;
}

.littleContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.saleContainer p {
    color: #000;
    font-size: 24px;
    font-weight: 600;
}

.saleContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.saleContainer img {
    width: 38px;
    height: 38px;
}


@media only screen and (max-width: 1058px) {
    .container {
        display: none;
    }
}