.belowHeaderContainer {
    width: 100%;
    margin-top: 44px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  
  .belowHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    gap: 20px;
    width: 100%;
  }
  
.select {
    max-width: 300px;
    width: 100%;
}